/* css styles */

/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Use a stack of common system fonts */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #051F20; /* dark green background from the palette */
    color: #E8E6D9; /* light text color from the palette */
    line-height: 1.6; /* Adjust line height for readability */
}

/* Ensure the container fills the entire width of the viewport */
.container {
    width: 100vw; /* Set the width to 100% of the viewport width */
    margin: 0; /* Remove any margin to ensure it stretches to the full width */
}

/* If there's specific padding you want to maintain inside the container, set it here */
.container-padding {
    padding: 0 20px; /* Example padding; adjust as needed */
}

/* Ensure the header also fills the entire width if it's a separate element */
.header {
    width: 100vw;
    margin: 0;
}

/* Adjust the header's internal spacing without affecting its full width */
.header-content {
    padding: 0 20px;
}


.header h1 {
    font-size: 4rem; /* Large font size for the main heading */
    margin-bottom: 0.5em; /* Space below the main heading */
    color: #235347; /* Different shade of green for the heading text from the palette */
}

.header p {
    font-size: 1.25rem; /* Size for the supporting text */
    max-width: 600px; /* Maximum width of the paragraph */
    color: #163832; /* Another shade of green for the paragraph text from the palette */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .header {
        padding-left: 2em;
        padding-right: 2em;
    }
    .header h1 {
        font-size: 3rem;
    }
    .header p {
        font-size: 1rem;
    }
}

/* NAVIGATION BAR ADJUSTMENT */
/* Custom styles for the navbar */
.navbar {
    background-color: #051F20; /* Darker green for the navbar background */
}

/* Adjusting link colors within the navbar */
.navbar a, .navbar a:visited {
    color: #D1F1DE; /* Lightest green for the link text */
}

/* Adjusting the navbar color on hover */
.navbar a:hover {
    background-color: #235347; /* Medium green for the hover background */
}

/* Style for the active or current page link in the navbar */
.navbar a.active {
    background-color: #163832; /* Slightly different green for the active link background */
}

/* Styles for the main content area */
.content {
    background-color: transparent; /* Make the background transparent so it takes the body's color */
    padding-left: 10%; /* Set the left padding to 10% */
    color: #E8E6D9; /* Light color for the text for better readability */
    /* remove any padding or margin properties that may affect the layout here if necessary */
}
